:root {
  --bg-color: #000000;
  --gray-color: #002146;
  --light-gray-color: #131313;
  --text-color: #ffffff;
  --main-color: #002958;
  --alt-color: #002b3b;
  --gredient: linear-gradient(120deg, #001e31 0%, rgba(103, 151, 255, 0)100%);
}

#Shop .shop-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
}

/* style for #Shop .card with data-brand="xiaomi" and data-type="phone" */
section .shop-cont .card {
  border: none;
}

/* styles for #Shop .card image */
section .shop-cont .card .image {
  background-color: var(--light-gray-color);
  width: 100%;
  height: 300px;
  padding: 20px;
  overflow: hidden;
  border-radius: 8px;
}

section .shop-cont .card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* styles for #Shop .card text */
section .shop-cont .card .text {
  padding: 20px;
}

section .shop-cont .card .feedback {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

section .shop-cont .card .stars {
  font-size: 14px;
  margin-right: 5px;
}

section .shop-cont .card .stars i {
  color: #ffc107;
}

section .shop-cont .card .reviews {
  font-size: 14px;
}

section .shop-cont .card .name {
  font-size: 20px;
  margin-bottom: 5px;
  color: #636363;
}

section .shop-cont .card .price {
  font-size: 16px;
  color: var(--main-color);
  font-weight: bold;
}